@model string
@{
 
}
<div class="modal fade" id="@("Delete-" + Model)" tabindex="-1" aria-labelledby="deletItem" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteItem">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ViewBag.DeleteDescription
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" asp-controller="@ViewBag.DeleteController" asp-action="@ViewBag.DeleteAction" asp-route-id="@Model">Delete</a>
            </div>
        </div>
    </div>
</div>
